/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */



 body {
   background-color: white;

 }
 .world-map-app{
   background-color: #666564;
 }

 .world-map-app.svg{
   background-color: #666564;
 }


 .land {
   stroke: none;
   fill: black;
 }

 .boundary {
   fill: none;
   stroke:#3d3d3c;
 }

 .pin{
   border: 5px solid black;
   fill: red;
 }

 .world-map-hover-modal{
  max-width: 300px;
  max-height: 500px;
   background-color: rgb(47, 49, 51); /*dark grey*/
   opacity: 0;
   z-index: -1;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border: 2px solid blue;
   position: fixed;
   display: inline;
   transition: opacity .5s, z-index .1s;
 }

 .world-map-data-panel{
   left:100px;
   top:100px;
   max-width: 300px;
   max-height: 410px;
   overflow:auto;
   background-color: rgb(70,70,70); /*medium grey*/
    opacity: 0;
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    display: inline;
    transition: opacity .5s, z-index .1s;
 }

.world-map-data-panel.managed{
  border: 2px solid green;
}

.world-map-data-panel.unmanaged{
  border: 2px solid red;
}

.world-map-data-panel.hovered{
  border: 2px solid blue !important;
}

/*padding does top right bottom left*/
 .modal-detail{
   display: block;
   padding-bottom:5px;
   padding-left:10px;
   padding-right:10px;
   color: white;
   font:1em "Open Sans", sans-serif;
 }
 .panel-detail{
   display: block;
   padding-bottom:5px;
   padding-left:10px;
   padding-right:10px;
   color: white;
   font:1em "Open Sans", sans-serif;
 }

 .modal-detail:first-of-type{
   padding-top:10px;
 }

 .panel-detail:first-of-type{
   padding-top:5px;
 }


.world-map-hover-modal.visiblemodal{
  opacity: .8;
  z-index: 1000;
}
.world-map-data-panel.visiblemodal{
  opacity: .8;
  z-index: 1000;
}

#toggleContainer{
  position:absolute;
  padding: 10px;
  height:100%;
  background-color: #666564;
}

#toggleContainer span{
  font:1em "Open Sans", sans-serif;
  display: block;
  margin-top:10px;
  padding:10px;
  text-align:center;
  background-color: rgb(86, 87, 89); /*medium gray*/
  color:white;
  border-radius:5px;
  cursor: pointer;
  border: 1px solid black;
}

#toggleContainer span:first-of-type{
  margin-top:0px;
}

#toggleContainer span.selected{
  background-color: black;
}

#toggleContainerManaged.selected{
  border: 1px solid green;
}

#toggleContainerUnmanaged.selected{
  border: 1px solid red;
}
