/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

#real-time-app-container{
  width:100px;
  height:100px;
  background-color:red;

}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
